@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

@font-face {
    font-family: "Big Noodle";
    src: url("../static/fonts/big_noodle_titling_oblique.woff2") format("woff2");
}

/* WILLIESH */
@font-face {
    font-family: 'Williesh';
    src: url('../static/fonts/Williesh.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    background: #fffae8;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    pointer-events: none;
}

.infos {
    z-index: 2;
    position: fixed;
    left: 40px;
    bottom: 80px;
}

.info {
    background-color: #13363f90;
    height: 40px;
    width: 125px;
    margin-top: 5px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Williesh';
    color: #FFFFFF;
    padding: 0 10px;
}

.info svg {
    height: 90%;
}
.info #ball, .info #windy {
    margin-left: 6px;
}


.reset {
    z-index: 3;
    position: fixed;
    left: 40px;
    bottom: 20px;
    font-family: 'Williesh';
    font-size: 24px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px;
    transition: all .1s ease-in-out;
}

.reset:hover {
    transform: scale(1.15);
}

.reset svg {
    width: 28px;
    margin-right: 8px;
}

.info span {
    font-size: 24px;
}

.info p {
    font-size: 16px;
}

.title {
    padding-top: 40px;
    text-align: center;
    color: #000000;
    z-index: 2;
    font-family: Big Noodle;
    font-size: 2.5em;
    text-transform: uppercase;
    line-height: 100%;
}

.btn {
    padding: 10px 20px;
    background: #fffae8;
    border: 1px solid #000000;
    color: #000000;
    text-transform: uppercase;
    font-family: Big Noodle;
    cursor: pointer;
    font-size: .8em;
}

.btn:hover {
    background: white;
}

.wind {
    display: none;
}

.wind.visible {
    display: block;
}

.post {
    display: none;
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color: #fffae8;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.post.visible {
    display: flex;
}

.post .score {
    font-family: Big Noodle;
    font-size: 56px;
}

.post .btn {
    padding: 20px 40px;
    margin-top: 20px;
    font-size: 16px;
}

#scoreboard {
    width: 90px;
    text-align: left;

    font-family: Big Noodle;
    font-size: 24px;

    text-transform: uppercase;
}

#scoreboard td + td {
    text-align: right;
}

@media only screen and (max-width: 600px) {
    .title {
        font-size: 1.5em
    }

    .resetBall {
        position: initial;
        margin-top: 10px;
    }

    .btn {
        font-size: 14px;
        padding: 10px 20px;
    }
}