@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    background: #fffae8;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    pointer-events: none;
}

.ctn
{
    position: fixed;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-family: 'Paytone One', sans-serif;
    font-size: 24px;

}

h1 {
    padding-top: 40px;
    text-align: center;
    color: black;
    z-index: 2;
    font-family: 'Paytone One', sans-serif;
    font-size: 2.5em;
    text-transform: uppercase;
    line-height: 100%;
}

.powerBar {
    margin-top: 20px;
    position: relative;
    z-index: 2;
    width: 200px;
    height: 20px;
    background: rgb(0,194,255);
    background: linear-gradient(90deg, rgba(0,194,255,1) 16%, rgba(255,154,0,1) 45%, rgba(255,154,0,1) 77%, rgba(255,0,0,1) 98%);
}

.cursor {
    position: absolute;
    z-index: 3;
    left: 0;
    top: -5px;
    height: 30px;
    width: 2px;
    background: black;
}