@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

@font-face {
    font-family: "Big Noodle";
    src: url("../static/fonts/big_noodle_titling_oblique.woff2") format("woff2");
}

/* WILLIESH */
@font-face {
    font-family: 'Williesh';
    src: url('../static/fonts/Williesh.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    background: #fffae8;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    pointer-events: none;
}

.infos {
    z-index: 2;
    position: fixed;
    left: 40px;
    bottom: 80px;
}

.info {
    background-color: #13363f90;
    height: 40px;
    width: 125px;
    margin-top: 5px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Williesh';
    color: #FFFFFF;
    padding: 0 10px;
}

.info svg {
    height: 90%;
}
.info #ball, .info #windy {
    margin-left: 6px;
}


.reset {
    z-index: 3;
    position: fixed;
    left: 40px;
    bottom: 20px;
    font-family: 'Williesh';
    font-size: 24px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px;
    transition: all .1s ease-in-out;
}

.reset:hover {
    transform: scale(1.15);
}

.reset.hidden {
    display: none;
}

.reset svg {
    width: 28px;
    margin-right: 8px;
}

.info span {
    font-size: 24px;
}

.info p {
    font-size: 16px;
}

.title {
    padding-top: 40px;
    text-align: center;
    color: #FFFFFF;
    z-index: 2;
    font-family: 'Williesh';
    font-size: 2.5em;
    text-transform: capitalize;
    line-height: 100%;
}

.btn {
    font-size: 70px;
    cursor: pointer;
}

.wind {
    display: none;
}

.wind.visible {
    display: block;
}

.prev-bg {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: tomato;
    background-image: url(../static/img/prev-bg.jpg);
    background-size: auto 100%;
    background-position: 50% 50%;

    z-index: 2;
}

.prev-bg.hidden {
    display: none;
}

.prev {
    position: absolute;
    top: 50%;
    left: 50%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 400px;
    height: 480px;
    padding: 60px 60px 44px;

    border-radius: 60px;
    transform: translate3d(-50%, -50%, 0);

    background-image: url('../static/img/card-bg.jpg');
    background-size: cover;
    color: #FFFFFF;

    font-family: 'Williesh';
    font-size: 30px;
    text-align: center;
    box-sizing: border-box;
    
    z-index: 5;
}

.prev.hidden {
    display: none;
}

.prev .page {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 40px;
    line-height: 100%;
    flex-grow: 1;
}

.prev .page-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prev .icon {
    width: 72px;
    height: 110px;
    margin-top: 40px;
    
    background-image: url(../static/img/drag.png);
    background-size: contain;
}

.prev .next {
    font-size: 70px;
    cursor: pointer;
}

.prev .page.hidden {
    display: none;
}

.post {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 400px;
    height: 480px;
    padding: 40px 60px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 60px;
    transform: translate3d(-50%, -50%, 0);

    background-image: url('../static/img/card-bg.jpg');
    background-size: cover;
    color: #FFFFFF;
    box-sizing: border-box;


    font-family: 'Williesh';

    z-index: 5;
}

.post:after {
    content: '';
    position: absolute;
    top: 90px;
    left: -260px;

    width: 300px;
    height: 350px;

    background-image: url('../static/textures/goal1.png');
    background-size: contain;

    z-index: 10;
}

.post.hidden {
    display: none;
}

.post .score {
    font-family: 'Williesh';
    font-size: 100px;
}

#scoreboard {
    width: 90px;

    font-family: 'Williesh';
    font-size: 14px;
    text-align: right;

    text-transform: uppercase;
}

#scoreboard td {
    padding: 0 10px;;
}

#scoreboard td + td {
    text-align: left;
}

@media only screen and (max-width: 600px) {
    .title {
        font-size: 1.5em
    }

    .resetBall {
        position: initial;
        margin-top: 10px;
    }
    
    .prev-bg {
        background-position: 40% 50%;
    }

    .prev, .post {
        width: 90%;
        font-size: 24px;
    }

    .btn {
        font-size: 50px;
    }

    .post:after {
        top: 150px;
        left: -200px;
    }
}